body{
	font-family: 'Titillium Web', sans-serif;
}

.rutgers-links{
	grid-area: rutgers-links;
}

.search-bar{
	grid-area: search-bar;
}

.top-bar{
	background-color: #333333;
	color: white;
	grid-area: top-bar;
	display: grid;
	grid-template-columns: repeat(autofit,6,1fr);
	grid-auto-columns: minmax(100px, auto);
	grid-template-areas:
	". rutgers-links rutgers-links . search-bar ."
}

.top-bar a
	{
		color:white;
		text-decoration:none;
	}

.rutgers-logo
{
	grid-area: rutgers-logo;
}

.title
{
	grid-area: title;
}

.nav-bar{
	background-color: #333333;
	color: white;
	grid-area: nav-bar;
}

.second-bar{
	background-color: #cc0033;
	grid-area: second-bar;
	display: grid;
	grid-template-columns: repeat (6,1fr);
	grid-auto-columns: minmax(100px, auto);
	grid-auto-rows: minmax(100px, auto); /*Try to figure out why without this function it becomes a thin row vs auto-sized row */
	grid-template-areas:
	".  rutgers-logo . . title ."
	".  nav-bar nav-bar nav-bar nav-bar ."
}

.images{
	grid-area: images;
}

.quick-links{
	grid-area: quick-links;
}

.what-we-do{
	grid-area: what-we-do;
}

.third-bar{
	background-color: white;
	color:black;
	grid-area: third-bar;
	display: grid;
	grid-template-columns: repeat (6,1fr);
	grid-auto-columns: minmax(100px, auto);
	grid-auto-rows: minmax(100px, auto);
	grid-template-areas:
	". 	images images images images ."
	".  quick-links quick-links what-we-do what-we-do ."
	
}

.footer{
	grid-area: footer;
}

.last-bar{
	background-color: black;
	color: white;
	grid-area: last-bar;
	display: grid;
	grid-template-columns: repeat (6,1fr);
	grid-auto-rows: minmax(100px, auto);
	grid-auto-columns: minmax(100px, auto);
	grid-template-areas:
	". footer footer footer footer ."
}
.wrapper{
	display: grid;
	grid-template-rows: repeat (autofit,4,1fr);
	grid-auto-rows: minmax(50px, auto);
	grid-auto-columns: minmax(100px, auto);
	grid-template-areas:
	"top-bar"
	"second-bar"
	"third-bar"
	"last-bar"
}